* {
  box-sizing: border-box;
}

:root {
  --color-bg: #f9f9f9;
}

body {
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1%;
  background-color: var(--color-bg);
}

h2 {
  font-size: 2em;
  margin: 0.2em 0;
}

h3 {
  font-size: 1.5em;
  margin: 0.2em 0;
  padding-left: 5%;
}

header {
  display: grid;
  grid-template:
    [row1-start] "redline redline redline redline" [row1-end]
    "photo meta meta contacts";
  grid-column-gap: 1%;
}

header .redline {
  grid-area: redline;
}

header .photo {
  grid-area: photo;
  background-color: wheat;
  min-height: 150px;
}

.photo > img {
  object-fit: cover;
  width: 100%;
  height: 190px;
  padding-top: 5px;
  padding-left: 5px;
}

header .meta {
  grid-area: meta;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .contacts {
  grid-area: contacts;
}

header > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 5px;
}

header > ul > li {
  font-size: 1.5em;
  padding: 2vh 0;
}

.redline {
  background-image: linear-gradient(
    to left top,
    #59152e,
    #781636,
    #97153c,
    #b7163f,
    #d61a3e
  );
  height: 4vh;
}

main {
  display: grid;
  grid-template-rows: auto;
}

section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 3%;
}

section div > span {
  float: right;
}

.thinline {
  background-image: radial-gradient(
    circle,
    #59152e,
    #781636,
    #97153c,
    #b7163f,
    #d61a3e
  );
  height: 3px;
  margin-top: 1.75%;
}

footer {
  display: grid;
  grid-template-areas:
    "logo time time link"
    "redline redline redline redline";
  grid-column-gap: 1%;
  /*   flex: 0 0 auto; */
}

footer .logo {
  grid-area: logo;
  justify-self: end;
}

footer .logo > a > img {
  max-height: 50px;
}

footer time {
  justify-self: center;
  align-self: center;
  grid-area: time;
  font-size: 1.5rem;
}

footer .link {
  grid-area: link;
  align-self: center;
}

footer .redline {
  grid-area: redline;
}

section ul {
  margin: 1%;
  padding-left: 3%;
}
